<%= simple_form_for @inquiry, url: inquiry_path do |f| %>
  <div>
    <h1>お問い合わせ</h1>
  </div>

  <% if @inquiry.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td align="right"><%= f.label :subject %></td>
      <td><%= f.text_field :subject, size: 80, maxlength: Inquiry::SUBJECT_MAX_LENGTH, class: 'disabled_enter' %></td>
    </tr>
    <tr>
      <td align="right"><%= f.label :email %></span></td>
      <td><%= f.text_field :email, size: 80, maxlength: Inquiry::EMAIL_MAX_LENGTH, class: 'disabled_enter' %></td>
    </tr>
    <tr>
      <td align="right"><%= f.label :message %></span></td>
      <td><%= f.text_area :message, rows: 10, cols: 80, maxlength: Inquiry::MESSAGE_MAX_LENGTH %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit '送信' %></td>
    </tr>
  </table>
  <%= link_to '戻る', root_path %>
<% end %>

<script>
$('input[type="text"].disabled_enter').keypress(function(e) {
	if((e.which == 13) || (e.keyCode == 13)) { return false; }
});
</script>
